#g-returnee_movements-box ,
	#g-returnee_movements-box .g-artboard {
		margin:0 auto;
	}
	#g-returnee_movements-box p {
		margin:0;
	}
	#g-returnee_movements-box .g-aiAbs {
		position:absolute;
	}
	#g-returnee_movements-box .g-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#g-returnee_movements-box .g-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#g-returnee_movements-box .g-aiPointText p { white-space: nowrap; }
	#g-returnee_movements-_480 {
		position:relative;
		overflow:hidden;
	}
	#g-returnee_movements-_480 p {
		font-family:Lato;
		font-weight:700;
		line-height:8px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:7px;
		text-align:left;
		text-transform:none;
		color:rgb(88,89,91);
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-returnee_movements-_480 .g-pstyle0 {
		line-height:11px;
		height:11px;
		font-size:9px;
		color:rgb(89,89,92);
	}
	#g-returnee_movements-_480 .g-pstyle1 {
		font-weight:400;
		height:8px;
		letter-spacing:0.25em;
		font-size:8px;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_480 .g-pstyle2 {
		font-weight:400;
		height:8px;
		letter-spacing:0.25em;
		font-size:8px;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_480 .g-pstyle3 {
		height:8px;
		text-align:center;
		text-transform:uppercase;
	}
	#g-returnee_movements-_480 .g-pstyle4 {
		font-weight:400;
		height:8px;
		letter-spacing:0.25em;
		font-size:8px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_480 .g-pstyle5 {
		line-height:5px;
		height:5px;
		letter-spacing:0.1em;
	}
	#g-returnee_movements-_480 .g-pstyle6 {
		line-height:10px;
		height:10px;
		font-size:8px;
		color:rgb(65,65,65);
	}
	#g-returnee_movements-_480 .g-pstyle7 {
		font-weight:400;
		height:8px;
		letter-spacing:0.1em;
	}
	#g-returnee_movements-_700 {
		position:relative;
		overflow:hidden;
	}
	#g-returnee_movements-_700 p {
		font-family:Lato;
		font-weight:700;
		line-height:8px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:8px;
		text-align:left;
		text-transform:none;
		color:rgb(88,89,91);
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-returnee_movements-_700 .g-pstyle0 {
		line-height:11px;
		height:11px;
		font-size:9px;
		color:rgb(89,89,92);
	}
	#g-returnee_movements-_700 .g-pstyle1 {
		font-weight:400;
		line-height:12px;
		height:12px;
		letter-spacing:0.25em;
		font-size:11px;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_700 .g-pstyle2 {
		font-weight:400;
		line-height:12px;
		height:12px;
		letter-spacing:0.25em;
		font-size:11px;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_700 .g-pstyle3 {
		height:8px;
		text-align:center;
		text-transform:uppercase;
	}
	#g-returnee_movements-_700 .g-pstyle4 {
		font-weight:400;
		line-height:12px;
		height:12px;
		letter-spacing:0.25em;
		font-size:11px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_700 .g-pstyle5 {
		height:8px;
		letter-spacing:0.1em;
		font-size:9px;
	}
	#g-returnee_movements-_700 .g-pstyle6 {
		font-weight:400;
		line-height:11px;
		height:11px;
		letter-spacing:0.1em;
	}
	#g-returnee_movements-_960 {
		position:relative;
		overflow:hidden;
	}
	#g-returnee_movements-_960 p {
		font-family:Lato;
		font-weight:700;
		line-height:11px;
		height:auto;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:9px;
		text-align:left;
		text-transform:none;
		color:rgb(88,89,91);
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		position:static;
	}
	#g-returnee_movements-_960 .g-pstyle0 {
		line-height:13px;
		height:13px;
		font-size:11px;
		color:rgb(89,89,92);
	}
	#g-returnee_movements-_960 .g-pstyle1 {
		font-weight:400;
		line-height:15px;
		height:15px;
		letter-spacing:0.25em;
		font-size:13px;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_960 .g-pstyle2 {
		font-weight:400;
		line-height:15px;
		height:15px;
		letter-spacing:0.25em;
		font-size:13px;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_960 .g-pstyle3 {
		height:11px;
		text-align:center;
		text-transform:uppercase;
	}
	#g-returnee_movements-_960 .g-pstyle4 {
		font-weight:400;
		line-height:15px;
		height:15px;
		letter-spacing:0.25em;
		font-size:13px;
		text-align:center;
		text-transform:uppercase;
		color:rgb(128,128,131);
	}
	#g-returnee_movements-_960 .g-pstyle5 {
		height:11px;
		letter-spacing:0.1em;
		font-size:11px;
	}
	#g-returnee_movements-_960 .g-pstyle6 {
		font-weight:400;
		line-height:15px;
		height:15px;
		letter-spacing:0.1em;
		font-size:10px;
	}